<div class="login-page">
  <p-card class="login-card">
    <h2 class="title">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">

        <!-- EMAIL -->
        <div>
          <p-floatLabel variant="on">
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              class="input-field"
            />
            <label for="email">Email</label>
          </p-floatLabel>

          @if (email?.touched && email?.hasError('required')) {
            <p-message
              severity="error"
              text="Email is required">
            </p-message>
          }

          @if (email?.touched && email?.hasError('email')) {
            <p-message
              severity="error"
              text="Enter a valid email">
            </p-message>
          }
        </div>

        <!-- PASSWORD -->
        <div>
          <p-floatLabel variant="on">
            <p-password
              id="password"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              inputStyleClass="password-input"
              styleClass="password-wrapper"
            ></p-password>
            <label for="password">Password</label>
          </p-floatLabel>

          @if (password?.touched && password?.hasError('required')) {
            <p-message
              severity="error"
              text="Password is required">
            </p-message>
          }

          @if (password?.touched && password?.hasError('minlength')) {
            <p-message
              severity="error"
              text="Must be at least 6 characters">
            </p-message>
          }
        </div>

      </div>

      <!-- backend error -->
      @if (errorMessage) {
        <p-message
          severity="error"
          [text]="errorMessage"
          class="server-error">
        </p-message>
      }

      <button
        pButton
        type="submit"
        label="Login"
        class="login-btn"
        [loading]="isLoading"
        [disabled]="loginForm.invalid || isLoading"
      ></button>
    </form>

    <p class="switch-text">
      Not registared yet?
      <a routerLink="/register">Register</a>
    </p>
  </p-card>
</div>
