<div class="login-page">
  <p-card class="login-card">
    <h2 class="title">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <!-- EMAIL -->
        <div>
          <p-floatLabel variant="on">
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              class="input-field"
            />
            <label for="email">Email</label>
          </p-floatLabel>

          <p-message
            *ngIf="email?.touched && email?.hasError('required')"
            severity="error"
            text="Email is required">
          </p-message>

          <p-message
            *ngIf="email?.touched && email?.hasError('email')"
            severity="error"
            text="Enter a valid email">
          </p-message>
        </div>

        <!-- PASSWORD -->
        <div>
          <p-floatLabel variant="on">
            <p-password
              id="password"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              inputStyleClass="password-input"
              styleClass="password-wrapper"
            ></p-password>
            <label for="password">Password</label>
          </p-floatLabel>
          
          <p-message
            *ngIf="password?.touched && password?.hasError('required')"
            severity="error"
            text="Password is required">
          </p-message>

          <p-message
            *ngIf="password?.touched && password?.hasError('minlength')"
            severity="error"
            text="Must be at least 6 characters">
          </p-message>
        </div>
      </div>

      <!-- backend error -->
      <p-message
        *ngIf="errorMessage"
        severity="error"
        [text]="errorMessage"
        class="server-error">
      </p-message>

      <button
        pButton
        type="submit"
        label="Login"
        class="login-btn"
        [loading]="isLoading"
        [disabled]="loginForm.invalid || isLoading"
      ></button>
    </form>

    <p class="switch-text">
      Not registared yet?
      <a routerLink="/register">Register</a>
    </p>
  </p-card>
</div>