<p-toast></p-toast>
<div class="register-container">
  <p-card class="register-card">
    <h2>Create Account</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- NAME -->
      <p-floatLabel variant="on">
        <input
          type="text"
          id="name"
          pInputText
          formControlName="name"
        />
        <label for="name">Full Name</label>
      </p-floatLabel>
      <p-message
        *ngIf="name?.touched && name?.hasError('required')"
        severity="error"
        text="Name is required"
      ></p-message>

      <!-- EMAIL -->
      <p-floatLabel variant="on">
        <input
          type="email"
          id="email"
          pInputText
          formControlName="email"
        />
        <label for="email">Email</label>
      </p-floatLabel>
      <p-message
        *ngIf="email?.touched && email?.hasError('required')"
        severity="error"
        text="Email is required"
      ></p-message>

      <p-message
        *ngIf="email?.touched && email?.hasError('email')"
        severity="error"
        text="Please enter a valid email address"
      ></p-message>

    <!-- PASSWORD -->
    <div class="float-container">
      <p-floatLabel variant="on">
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          inputStyleClass="password-input"
          styleClass="password-wrapper"
        ></p-password>
        <label for="password">Password</label>
      </p-floatLabel>

      <p-message 
        *ngIf="password?.touched && password?.hasError('required')"
        severity="error"
        text="Password is required">
      </p-message>

      <p-message 
        *ngIf="password?.touched && password?.hasError('minlength')"
        severity="error"
        text="Password must be at least 6 characters">
      </p-message>

      <p-message 
        *ngIf="password?.touched && password?.hasError('weakPassword')"
        severity="error"
        text="Password must include uppercase, lowercase, number, and symbol">
      </p-message>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="float-container">
      <p-floatLabel variant="on">
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          inputStyleClass="password-input"
          styleClass="password-wrapper"
        ></p-password>
        <label for="confirmPassword">Confirm Password</label>
      </p-floatLabel>

      <p-message
        *ngIf="confirmPassword?.touched && confirmPassword?.hasError('required')"
        severity="error"
        text="Please confirm your password">
      </p-message>

      <p-message
        *ngIf="registerForm.touched && registerForm.errors?.['passwordMismatch']"
        severity="error"
        text="Passwords do not match">
      </p-message>
    </div>

      <!-- SERVER ERROR -->
      <p-message
        *ngIf="errorMessage"
        severity="error"
        [text]="errorMessage"
        class="server-error"
      ></p-message>

      <!-- SUBMIT BUTTON -->
      <button
        pButton
        type="submit"
        label="Create Account"
        class="w-full"
        [disabled]="isLoading || registerForm.invalid"
      ></button>

    </form>

    <p class="switch-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </p-card>
</div>
