.order-success-page {
  min-height: 100vh;
  background: #f8f8f8;
}

/* HERO */
.success-hero {
  position: relative;
  height: 45vh;
  width: 100%;
  background-image: url('/assets/hero-banner-1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
  }

  .success-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: .5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

/* BODY */
.success-container {
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}