<div class="hero">
  <div class="shop-hero-content">
      <h1>Contact Us</h1>
      <p>We’d love to hear from you. Fill out the form below.</p>
  </div>
</div>

<section class="contact-section">

  <form [formGroup]="contactForm" (ngSubmit)="submit()" class="contact-form">

    <!-- NAME -->
    <div>
      <input 
        pInputText 
        type="text" 
        placeholder="Your Name"
        formControlName="name"
      />

      @if (f['name'].touched && f['name'].hasError('required')) {
        <p-message
          severity="error"
          text="Name is required">
        </p-message>
      }
    </div>

    <!-- EMAIL -->
    <div>
      <input 
        pInputText 
        type="email"
        placeholder="Your Email"
        formControlName="email"
      />

      @if (f['email'].touched && f['email'].hasError('required')) {
        <p-message
          severity="error"
          text="Email is required">
        </p-message>
      }

      @if (f['email'].touched && f['email'].hasError('email')) {
        <p-message
          severity="error"
          text="Invalid email format">
        </p-message>
      }
    </div>

    <!-- SUBJECT -->
    <div>
      <input 
        pInputText 
        type="text"
        placeholder="Subject"
        formControlName="subject"
      />

      @if (f['subject'].touched && f['subject'].hasError('required')) {
        <p-message
          severity="error"
          text="Subject is required">
        </p-message>
      }
    </div>

    <!-- MESSAGE -->
    <div>
      <textarea
        pTextarea
        placeholder="Your Message"
        formControlName="message"
      ></textarea>

      @if (f['message'].touched && f['message'].hasError('required')) {
        <p-message
          severity="error"
          text="Message cannot be empty">
        </p-message>
      }
    </div>

    <!-- BUTTON -->
    <button
      pButton
      type="submit"
      [disabled]="loading || contactForm.invalid"
      label="{{ loading ? 'Sending...' : 'Send Message' }}"
      class="shop-more-btn"
    ></button>

  </form>

  @if (success) {
    <p [class.ok]="success.ok" [class.error]="!success.ok">
      {{ success.msg }}
    </p>
  }

</section>
