.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;  
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

   &.scrolled {
    background-color: #25180e; /* solid dark after scroll */
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
   }

  .nav-left {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;

    .logo {
      text-decoration: none;
      color: white;
    }
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #d2b291;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        color: #d2b291;
      }
    }

    button {
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: .5rem 1rem;
      margin: 0px 10px 0px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        // background-color: #ffffff;
        color: #d2b291;
      }
    }
  }
}
