.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: #333;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-left {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;

    .logo {
      text-decoration: none;
      color: white;
    }
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #78c0e0;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        color: #78c0e0;
      }
    }

    button {
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: .5rem 1rem;
      margin: 0px 10px 0px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        // background-color: #ffffff;
        color: #78c0e0;
      }
    }
  }
}
