.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;  
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

   &.scrolled {
    background-color: #25180e; /* solid dark after scroll */
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
   }

   &.forceSolid {
    background-color: #25180e !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }

  .nav-left {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;

    .logo {
      text-decoration: none;
      color: white;
    }
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #d2b291;
      }

      &.active {
        color: #d2b291;
        font-weight: 600;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        color: #d2b291;
      }
    }

    ::ng-deep .menu-btn.p-button {
      background: transparent !important;
      border: none !important;
      color: #ffffff !important;
      padding: .25rem .4rem !important;   /* smaller */
      min-width: 0 !important;            /* shrink width */
      height: 32px !important;            /* small button height */
      box-shadow: none !important;
    }

    ::ng-deep .menu-btn.p-button .p-button-icon {
      font-size: 1.1rem !important;        /* smaller icon */
      line-height: 1;                      
    }

    ::ng-deep .menu-btn.p-button:hover {
      color: #d2b291 !important;
    }
  }
}

.cart-wrapper {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;

  background: #ff3d3d;
  color: white;

  border-radius: 50%;
  padding: 2px 6px;

  font-size: 0.7rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18px;
  height: 18px;
}
