.orders-page {
  min-height: 100vh;
//   background: #f9f9f9;
}

/* HERO */
.orders-hero {
  position: relative;
  height: 220px;
  width: 100%;
  background-image: url('/assets/hero-banner-1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
  }

  .orders-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;

    h1 {
      font-size: 3rem;
    }
  }
}

.orders-container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.empty-orders {
  text-align: center;
  margin: 3rem 0;
  padding: 2rem;
}

.empty-orders h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #25180e;
}

.empty-orders p {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 1.1rem;
}

.empty-btn {
  background-color: #25180e !important;
  color: #fff !important;
  border: none !important;
  padding: 0.7rem 1.8rem !important;
  border-radius: 6px !important;
  font-weight: 600 !important;

  &:hover {
    background-color: #3a220f !important;
  }
}