.orders-page {
  min-height: 100vh;
//   background: #f9f9f9;
}

/* HERO */
.orders-hero {
  position: relative;
  height: 220px;
  width: 100%;
  background-image: url('/assets/hero-banner-1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
  }

  .orders-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;

    h1 {
      font-size: 3rem;
    }
  }
}

.orders-container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 1rem;
}