.admin-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.admin-topbar {
    position: sticky;
    top: 0;
    z-index: 999;   
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: #25180e;
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);

    h1 {
        margin: 0;
        font-size: 1.3rem;
    }
}

.drawer-menu {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  flex-grow: 1; /* pushes logout to bottom */

  li {
    margin-bottom: 1rem;

    a {
      display: block;
      color: #333;
      text-decoration: none;
      font-size: 1.1rem;
      padding: 0.3rem 0;

      &.active {
        color: #8b5e3c;
        font-weight: bold;
      }
    }
  }
}

.drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-logout {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
}

.logout-btn {
  width: 100%;
  background: #c0392b !important;   /* deep red */
  border: none !important;
  color: #fff !important;
  padding: 0.8rem 0;
  font-size: 1rem;

  &:hover {
    background: #a5281e !important;
  }
}

.admin-content {
  padding: 2rem;
}