.dashboard-container {
  padding: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.value {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
}
.chart-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-bottom: 1rem;

  /* Makes scrolling smoother on mobile */
  -webkit-overflow-scrolling: touch;
}

.chart-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    min-width: 900px;
}

.loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}